* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    padding-bottom: 48px;
}

/* header */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar {
    display: flex;
    background-color: #212529;
    justify-content: space-between;
    padding: 8px 12px;

}

.link {
    display: flex;
    line-height: 24px;
}

.brand {
    color: white;
    font-size: 20px;
    padding: 5px 0;
    margin-right: 16px;
    text-decoration: none;
    line-height: 30px;
}

.navbar-item {
    display: flex;
}

.navbar-item a {
    font-size: 16px;
    padding: 8px;
    color: #FFFFFF8C;
    text-decoration: none;
    list-style: none;
}

.nav-link.active {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link.disable {
    pointer-events: none;
    text-decoration: none;
    color: #5A5A5A;
    cursor: default;
}

.search {
    display: flex;
    align-items: center;
}

.search .input {
    font-size: 16px;
    padding: 6px 12px;
    margin-right: 8px;
    border: 1px solid;
    border-radius: 6px;
    width: 274px;
    height: 38px;
}

.search button {
    font-size: 16px;
    padding: 6px 12px;
    background-color: black;
    color: #198754;
    border: 1px solid #198754;
    border-radius: 6px;
    cursor: pointer;
    width: 74px;
    height: 38px;
}

.search button:hover {
    background-color: #198754;
    color: white;
}

/* main */

.slider {
    height: 512px;
    width: 1831px;
    margin-bottom: 64px;
    background-color: rgb(119, 119, 119);
    color: white;
    position: relative;
}

.slider-indicator {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


.slider-indicator button {
    margin: 0 3px;
    width: 30px;
    height: 3px;
    opacity: 0.5;
    cursor: pointer;
    border: 0;
    /* border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; */
}

button.active {
    opacity: 1;
}

.prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    opacity: 0.5;
    font-size: 32px;
    cursor: pointer;
}

.next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    opacity: 0.5;
    font-size: 32px;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    opacity: 1;
}

.slider-item {
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
}

.slider-item.active {
    display: block;
}

.slider-caption {
    position: absolute;
    right: 15%;
    bottom: 48px;
    left: 15%;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    height: 212px;
}

.slider-caption.text-start {
    text-align: left !important;
}

.slider-caption.text-end {
    text-align: right !important;
}

.slider-caption h1 {
    font-size: 40px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 48px;
}

.slider-caption p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}

.slider-caption a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px
}



.container-heading {
    display: flex;
    justify-content: center;
    padding: 0 12px;
    margin: 0 255.5px;
}

.heading-item {
    padding: 0 12px;
    margin-bottom: 24px;
    text-align: center;
    color: #5A5A5A;
}

.heading-item a {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #777777;
    border-radius: 4px;
    color: white;
    background-color: #777777;
    text-decoration: none;
    line-height: 24px;
    margin-bottom: 16px;
}

.heading-item h2 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 8px;
    width: 416px;
    height: 38px;
    text-align: center;
}

.heading-item p {
    font-size: 16px;
    margin: 0 12px 16px;
    width: 392px;
    min-height: 72px;
    text-align: center;
    line-height: 24px;
}

.circle {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #777777;
}

.line {
    margin: 80px auto;
    width: 1296px;
    border: 1px solid #D6D6D6;
    border-bottom: 0;
}

.container-content {
    display: flex;
    justify-content: space-between;
    margin: 0 255.5px;
}

.container-item {
    color: #5A5A5A;
}

.container-item h2 {
    font-size: 50px;
    margin: 112px 0 8px;
    letter-spacing: -1px;
    font-weight: 400;
}

.container-item h2 span {
    color: #6C757D;
}

.container-item p {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 30px;
}

.container .image {
    background-color: #eee;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image p {
    font-size: 56px;
    color: #aaa;
    font-weight: 400;
}

.col-md-5 {
    padding: 0 12px;
    width: calc(100% * 5 / 12);
}

.col-md-7 {
    padding: 0 12px;
    width: calc(100% * 7 / 12);
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin: 0 255.5px;
    color: #5A5A5A;
    margin-bottom: 16px;
}

footer p {
    line-height: 28px;
}

footer p a {
    color: #0d6efd;
}